<nav class="navbar" id="nubankbar">

    <img src="assets/nubank-logo.png">
    <div class="container-fluid container ms-5 align-items-center">
        <div class="row mx-auto">
          <div class="dropdown">
            <button class="dropbtn">Página Inicial</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
           <div class="dropdown">
            <button class="dropbtn">Para Você</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Para seu Negocio</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">O Nubank</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
                </div>
                <div class="dropdown">
                  <button class="dropbtn">Perguntas</button>
                  <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                  </div>
        </div>
    </div>
</nav>
